<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body {
    height: 100vh;
    margin: 0;
    background-color: black;
  }

  #video-container {
    position: relative;
    width: 100vw;
    /* Adjust based on your needs */
    height: 100vh;
    /* Adjust based on your needs */
  }

  #video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .inactive-video {
    opacity: 0;
  }

  .active-video {
    opacity: 1;
    transition: opacity 0.7s ease;
  }
</style>

<body>
  <div id="video-container">
    <video id="video1" autoplay muted loop class="active-video" src="/video/1.mp4" type="video/mp4"></video>
    <video id="video2" autoplay muted loop class="inactive-video"></video>
  </div>
  <script>

    const states = {
      'idle': '/video/1.mp4',
      'waiting': '/video/2.mp4',
      'listening': '/video/3.mp4',
      'thinking': '/video/4.mp4',
      'speaking': '/video/5.mp4',
    }

    async function getState() {
      const response = await fetch('/state');
      const data = await response.json();
      return data.state;
    }

    function changeState(newState) {
      const src = states[newState];
      if (!src) {
        return
      }
      const activeVideo = document.querySelector('.active-video');
      const inactiveVideo = document.querySelector('.inactive-video');

      inactiveVideo.src = src;
      inactiveVideo.load();
      inactiveVideo.play();

      inactiveVideo.classList.replace('inactive-video', 'active-video');
      activeVideo.classList.replace('active-video', 'inactive-video');

      setTimeout(() => {
        activeVideo.style.opacity = '0';
        inactiveVideo.style.opacity = '1';
      }, 0);
    }

    async function stateLoop() {
      let prevState = 'idle'
      while (true) {
        try {
          const state = await getState();
          if (state !== prevState) {
            changeState(state);
            prevState = state;
          }
        } catch (e) {
          console.error(e);
        }
        await new Promise(resolve => setTimeout(resolve, 80))
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      stateLoop();
    });

  </script>
</body>

</html>
